*.DS_Store
**/*key.pem
test/tls_x509/certs/**
test/tls_x509/private/**
**/etc/pki/tls/certs
**/etc/pki/tls/private
**/etc/pki/ca-trust/source/anchors/**
**/etc/ssl/certs
**/etc/ssl/private
test/behave/reports/**
