# Collect stats
module(load="impstats" interval="{{ getenv "rsyslog_module_impstats_interval" }}" log.syslog="on")

{{ $rsyslog_mmpstrucdata := getenv "rsyslog_mmpstrucdata" | toLower | eq "on" "true" -}}
{{if $rsyslog_mmpstrucdata -}}
# Parse RFCR424 structured data
module(load="mmpstrucdata")
{{- end}}

# Globals
global(
  parser.permitSlashInProgramname = "{{ getenv "rsyslog_global_parser_permitslashinprogramname" }}"
  preserveFQDN = "{{ getenv "rsyslog_global_preservefqdn" }}"
  maxMessageSize = "{{ getenv "rsyslog_global_maxmessagesize" }}"
  action.reportSuspension = "{{ getenv "rsyslog_global_action_reportSuspension" }}"
  senders.keepTrack = "{{ getenv "rsyslog_global_senders_keeptrack" }}"
  senders.timeoutAfter = "{{ getenv "rsyslog_global_senders_timeoutafter" }}"
  senders.reportGoneAway = "{{ getenv "rsyslog_global_senders_reportgoneaway" }}"

)
