## Option to write remote logs to plain files
# also check config in ##_remote_in.conf for wrapping ruleset that calls this
# Note, if enabled in conjunciton with forwading to logstash/elasticsearch, then
# we're doubling up logs and I/O load...

template(name="TmplPerHostRelpSecAuthFile" type="string" string="/var/log/remote/relp_secure_client/%HOSTNAME%/security")
template(name="TmplPerHostRelpSecAuditFile" type="string" string="/var/log/remote/relp_secure_client/%HOSTNAME%/audit")
template(name="TmplPerHostRelpSecConsoleFile" type="string" string="/var/log/remote/relp_secure_client/%HOSTNAME%/console")
template(name="TmplPerHostRelpSecFirewallFile" type="string" string="/var/log/remote/relp_secure_client/%HOSTNAME%/firewall")
template(name="TmplPerHostRelpSecMsgFile" type="string" string="/var/log/remote/relp_secure_client/%HOSTNAME%/messages")

ruleset(name="out_file_relp_secure_client_auth")
{
  if ($syslogfacility-text == 'kern' and (
	$msg startswith "iptables" or
	$msg contains"[UFW"
	)
  ) then
  {  action(
       name="remote_file_auth"
       type="omfile"
       template="{{ getenv "rsyslog_omfile_template" }}"
       dynaFile="TmplPerHostRelpSecFirewallFile"
       dynaFileCacheSize="100"
       asyncWriting="on"
       flushOnTXEnd="off"
       ioBufferSize="64k"
       dirOwner="root"
       dirGroup="wheel"
       dirCreateMode="0755"
       fileOwner="root"
       fileGroup="wheel"
       FileCreateMode="0640"
     )
  }
  else
  {
    # auth and authpriv
    if ($syslogfacility-text == 'auth' or
         $syslogfacility-text == 'authpriv'
    ) then
    {
      action(
        name="remote_file_auth"
        type="omfile"
	      template="{{ getenv "rsyslog_omfile_template" }}"
        dynaFile="TmplPerHostRelpSecAuthFile"
        dynaFileCacheSize="100"
        asyncWriting="on"
        flushOnTXEnd="off"
        ioBufferSize="64k"
        dirOwner="root"
        dirGroup="wheel"
        dirCreateMode="0755"
        fileOwner="root"
        fileGroup="wheel"
        FileCreateMode="0640"
      )
    }

    if ($syslogfacility == '13') then
    {
      action(
        name="remote_file_audit"
        type="omfile"
      	template="{{ getenv "rsyslog_omfile_template" }}"
        dynaFile="TmplPerHostRelpSecAuditFile"
        dynaFileCacheSize="100"
        asyncWriting="on"
        flushOnTXEnd="off"
        ioBufferSize="64k"
        dirOwner="root"
        dirGroup="wheel"
        dirCreateMode="0755"
        fileOwner="root"
        fileGroup="wheel"
        FileCreateMode="0640"
     )
    }

    # logalert. Note, no formal syslog faciltiy keyword supported by rsyslog
    if ($syslogfacility == '14') then
    {
      action(
        name="remote_file_console"
        type="omfile"
      	template="{{ getenv "rsyslog_omfile_template" }}"
        dynaFile="TmplPerHostRelpSecConsoleFile"
        dynaFileCacheSize="100"
        asyncWriting="on"
        flushOnTXEnd="off"
        ioBufferSize="64k"
        dirOwner="root"
        dirGroup="wheel"
        dirCreateMode="0755"
        fileOwner="root"
        fileGroup="wheel"
        FileCreateMode="0640"
     )
    }

    # other
    if not
    ( $syslogfacility-text == 'auth' or
      $syslogfacility-text == 'authpriv' or
      $syslogfacility == '13'
    )
    then
    {
      action(
        name="remote_file_messages"
        type="omfile"
      	template="{{ getenv "rsyslog_omfile_template" }}"
        dynaFile="TmplPerHostRelpSecMsgFile"
        dynaFileCacheSize="100"
        asyncWriting="on"
        flushOnTXEnd="off"
        ioBufferSize="64k"
        dirOwner="root"
        dirGroup="wheel"
        dirCreateMode="0755"
        fileOwner="root"
        fileGroup="wheel"
        FileCreateMode="0640"
     )
    }
  }
}

# Note further, it would be prudent to setup logrotate for /var/log/remote/*
