# Kafka output (if enabled, else blank)
{{$rsyslog_omkafka_enabled := getenv "rsyslog_omkafka_enabled" | toLower | eq "on" "true" -}}

{{if $rsyslog_omkafka_enabled -}}
module(load="omkafka")
ruleset(name="fwd_kafka")
{
  action(
    type="omkafka"
    broker={{ getenv "rsyslog_omkafka_broker" }}
    {{if getenv "rsyslog_omkafka_confParam" | ne "" -}}
    confParam={{ getenv "rsyslog_omkafka_confParam" }}
    {{- end}}
    topic="{{ getenv "rsyslog_omkafka_topic" }}"
    dynatopic="{{ getenv "rsyslog_omkafka_dynatopic" }}"
    partitions.auto="on"
    {{if getenv "topicConfParam" | ne "" -}}
    topicConfParam={{ getenv "rsyslog_omkafka_topicConfParam" }}
    {{- end}}
    resubmitOnFailure="on"
    keepFailedMessages="on"
    failedMsgFile="/var/lib/rsyslog/kafka_failed.msg"
    template="{{ getenv "rsyslog_omkafka_template" }}"
    action.resumeRetryCount = "-1"
    # queue config
    queue.type = "LinkedList"
    queue.filename="fwd_kafka"
    queue.maxdiskspace = "{{ getenv "rsyslog_om_action_queue_maxdiskspace" }}"
    queue.saveonshutdown="on"
    queue.size = "{{ getenv "rsyslog_om_action_queue_size" }}"
    queue.discardmark = "{{ getenv "rsyslog_om_action_queue_discardmark" }}"
    queue.discardseverity = "{{ getenv "rsyslog_om_action_queue_discardseverity" }}"
  )
}
{{- end}}
