# Kafka output (if enabled, else blank)
{{$rsyslog_omkafka_enabled := getenv "rsyslog_omkafka_enabled" | toLower | eq "on" "true" -}}
{{$rsyslog_output_filtering_enabled := getenv "rsyslog_output_filtering_enabled" | toLower | eq "on" "true" -}}

{{if $rsyslog_omkafka_enabled -}}
module(load="omkafka")
ruleset(name="fwd_kafka")
{
  {{if $rsyslog_output_filtering_enabled -}}
  $IncludeConfig /etc/rsyslog.d/output/filters/fwd_kafka/*.conf
  {{- end}}

  action(
    name="fwd_kafka_topic_{{ getenv "rsyslog_omkafka_topic" }}"
    type="omkafka"
    broker={{ getenv "rsyslog_omkafka_broker" }}
    {{if getenv "rsyslog_omkafka_confParam" | ne "" -}}
    confParam={{ getenv "rsyslog_omkafka_confParam" }}
    {{- end}}
    topic="{{ getenv "rsyslog_omkafka_topic" }}"
    dynatopic="{{ getenv "rsyslog_omkafka_dynaTopic" }}"
    partitions.auto="on"
    {{if getenv "topicConfParam" | ne "" -}}
    topicConfParam={{ getenv "rsyslog_omkafka_topicConfParam" }}
    {{- end}}
    resubmitOnFailure="on"
    keepFailedMessages="on"
    failedMsgFile="/var/lib/rsyslog/kafka_failed.msg"
    template="{{ getenv "rsyslog_omkafka_template" }}"
    action.resumeRetryCount = "-1"
    # queue config
    queue.type = "LinkedList"
    queue.filename="fwd_kafka"
    queue.maxDiskSpace = "{{ getenv "rsyslog_om_action_queue_maxDiskSpace" }}"
    queue.saveOnShutdown="on"
    queue.size = "{{ getenv "rsyslog_om_action_queue_size" }}"
    queue.discardMark = "{{ getenv "rsyslog_om_action_queue_discardMark" }}"
    queue.discardSeverity = "{{ getenv "rsyslog_om_action_queue_discardSeverity" }}"
  )
}
{{- end}}
