# Syslog output (if enabled, else blank)
{{$rsyslog_omfwd_syslog_enabled := getenv "rsyslog_omfwd_syslog_enabled" | toLower | eq "true" -}}

{{if $rsyslog_omfwd_syslog_enabled -}}
# omfwd module is loaded by deafault / built-in?
ruleset(name="fwd_syslog")
{
  action(
    type="omfwd"
    Target="{{ getenv "rsyslog_omfwd_syslog_host" }}"
    Port="{{ getenv "rsyslog_omfwd_syslog_port" }}"
    Protocol="{{ getenv "rsyslog_omfwd_syslog_protocol" }}"
    template="{{ getenv "rsyslog_omfwd_syslog_template" }}"
  )
}
{{- end}}
