# Syslog output (if enabled, else blank)
{{$rsyslog_omfwd_syslog_enabled := getenv "rsyslog_omfwd_syslog_enabled" | toLower | eq "on" "true" -}}
{{$rsyslog_output_filtering_enabled := getenv "rsyslog_output_filtering_enabled" | toLower | eq "on" "true" -}}
{{ $rsyslog_impstats := getenv "rsyslog_impstats" | toLower | eq "on" "true" -}}
{{ $rsyslog_dyn_stats := getenv "rsyslog_dyn_stats" | toLower | eq "on" "true" -}}

{{ if $rsyslog_omfwd_syslog_enabled -}}
# omfwd module is loaded by deafault / built-in

{{ if and $rsyslog_impstats $rsyslog_dyn_stats -}}
# Dynamic stats for output
dyn_stats(name="msg_per_fromhost_fwd_syslog_post_filter" resettable="on" maxCardinality="{{ getenv "rsyslog_dyn_stats_maxCardinality" }}" unusedMetricLife="{{ getenv  "rsyslog_dyn_stats_unusedMetricLife" }}" )
{{- end }}

ruleset(name="fwd_syslog")
{
  {{ if $rsyslog_output_filtering_enabled -}}
  $IncludeConfig /etc/rsyslog.d/output/filters/fwd_syslog/*.conf
  {{- end }}

  {{ if and $rsyslog_impstats $rsyslog_dyn_stats -}}
  set $.inc_status = dyn_inc("msg_per_fromhost_fwd_syslog_post_filter", $fromhost);
  # TODO - improve action when incriment failed, e.g. cumbersome but would show up in impstats action counts at least to know there is an issue
  if ($.inc_status != 0) then {
    action(name="dyn_stat_inc_error" type="omfile" file="/dev/null" template="Empty")
  }
  {{- end }}

  action(
    name="fwd_syslog_target_{{ getenv "rsyslog_omfwd_syslog_host" }}"
    type="omfwd"
    Target="{{ getenv "rsyslog_omfwd_syslog_host" }}"
    Port="{{ getenv "rsyslog_omfwd_syslog_port" }}"
    Protocol="{{ getenv "rsyslog_omfwd_syslog_protocol" }}"
    template="{{ getenv "rsyslog_omfwd_syslog_template" }}"
    action.resumeRetryCount = "-1"
    # queue config 
    queue.type="LinkedList"
    queue.filename="fwd_syslog"
    # queue peristance and size limit
    queue.maxDiskSpace="{{ getenv "rsyslog_om_action_queue_maxDiskSpace" }}"
    queue.size="{{ getenv "rsyslog_om_action_queue_size" }}"
    queue.discardMark="{{ getenv "rsyslog_om_action_queue_discardMark" }}"
    queue.discardSeverity="{{ getenv "rsyslog_om_action_queue_discardSeverity" }}"
    queue.checkpointInterval="{{ getenv "rsyslog_om_action_queue_checkpointInterval" }}"
    queue.saveOnShutdown="on"
    # queue threads and batching
    queue.dequeueBatchSize="{{ getenv "rsyslog_om_action_queue_dequeueBatchSize" }}"
    queue.minDequeueBatchSize="{{ getenv "rsyslog_om_action_queue_minDequeueBatchSize" }}"
    queue.minDequeueBatchSize.timeout="{{ getenv "rsyslog_om_action_queue_minDequeueBatchSize_timeout" }}"
    queue.workerThreads="{{ getenv "rsyslog_om_action_queue_workerThreads" }}"
    queue.workerThreadMinimumMessages="{{ getenv "rsyslog_om_action_queue_workerThreadMinimumMessages" }}"
  )
}
{{- end }}
