# Syslog output (if enabled, else blank)
{{$rsyslog_omfwd_syslog_enabled := getenv "rsyslog_omfwd_syslog_enabled" | toLower | eq "on" -}}

{{if $rsyslog_omfwd_syslog_enabled -}}
# omfwd module is loaded by deafault / built-in?
ruleset(name="fwd_syslog")
{
  action(
    type="omfwd"
    Target="{{ getenv "rsyslog_omfwd_syslog_host" }}"
    Port="{{ getenv "rsyslog_omfwd_syslog_port" }}"
    Protocol="{{ getenv "rsyslog_omfwd_syslog_protocol" }}"
    template="{{ getenv "rsyslog_omfwd_syslog_template" }}"
    action.resumeRetryCount = "-1"
    # queue config
    queue.type = "LinkedList"
    queue.filename="fwd_syslog"
    queue.maxdiskspace = "{{ getenv "rsyslog_om_action_queue_maxdiskspace" }}"
    queue.saveonshutdown="on"
    queue.size = "{{ getenv "rsyslog_om_action_queue_size" }}"
    queue.discardmark = "{{ getenv "rsyslog_om_action_queue_discardmark" }}"
    queue.discardseverity = "{{ getenv "rsyslog_om_action_queue_discardseverity" }}"
  )
}
{{- end}}
