# JSON output (if enabled, else blank)
{{$rsyslog_omfwd_json_enabled := getenv "rsyslog_omfwd_json_enabled" | toLower | eq "on" "true" -}}
{{$rsyslog_output_filtering_enabled := getenv "rsyslog_output_filtering_enabled" | toLower | eq "on" "true" -}}

{{if $rsyslog_omfwd_json_enabled -}}
ruleset(name="fwd_json")
{
  {{if $rsyslog_output_filtering_enabled -}}
  $IncludeConfig /etc/rsyslog.d/output/filters/fwd_json/*.conf
  {{- end}}

  action(
    name="fwd_json_target_{{ getenv "rsyslog_omfwd_json_host" }}"
    type="omfwd"
    Target="{{ getenv "rsyslog_omfwd_json_host" }}"
    Port="{{ getenv "rsyslog_omfwd_json_port" }}"
    Protocol="tcp"
    template="{{ getenv "rsyslog_omfwd_json_template" }}"
    # queue config
    action.resumeRetryCount = "-1"
    queue.type = "LinkedList"
    queue.filename="fwd_json"
    queue.maxDiskSpace = "{{ getenv "rsyslog_om_action_queue_maxDiskSpace" }}"
    queue.saveOnShutdown="on"
    queue.size = "{{ getenv "rsyslog_om_action_queue_size" }}"
    queue.discardMark = "{{ getenv "rsyslog_om_action_queue_discardMark" }}"
    queue.discardSeverity = "{{ getenv "rsyslog_om_action_queue_discardSeverity" }}"
    # often last message is lost when a connection breaks
    resendLastMSGOnReconnect="on"
  )
}
{{- end}}
