# JSON output (if enabled, else blank)
{{$rsyslog_omfwd_json_enabled := getenv "rsyslog_omfwd_json_enabled" | toLower | eq "true" -}}

{{if $rsyslog_omfwd_json_enabled -}}
ruleset(name="forward_json")
{
  action(
    type="omfwd"
    Target="{{ getenv "rsyslog_omfwd_json_host" }}"
    Port="{{ getenv "rsyslog_omfwd_json_port" }}"
    Protocol="tcp"
    template="{{ getenv "rsyslog_omfwd_json_template" }}"
  )
}
{{- end}}
